# IntelliJ IDEA
.idea/
*.iml
*.iws

# Java
*.class

# Maven
target/
pom.xml.tag
pom.xml.next
pom.xml.bak
pom.xml.versions
pom.xml.snapshots
pom.xml.release

# Gradle
.gradle/
build/

# Mac
.DS_Store

# Logs and temporary files
log/
temp/
